body,
html,
#map-canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
}

*:focus {
	outline: 0;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin: 0;
}

.coffee-map {
	width:100%;
	height: 100%;
}

/* Collapsible list*/

.browse {
	float: left;
	display: inline-block;
	height: 45px;
	width: 35px;
	margin: 10px;
	padding: 0 5px;
	background: #ace44d;
	background-image: url(../img/menu_icon.png);
	background-size: 24px 24px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
	border: 1px solid #bef95b;
	border-radius: 50%;
	box-shadow: 0 2px 1px #7C6851;
	cursor: pointer;
}

.places-list-holder ul{
	margin: 0;
	padding: 0;
	background: #fff;
	border-top: 1px solid #ccc;
}

.places-list-holder ul li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 5px;
	margin: 0;
	font-size: 14px;
	cursor: pointer;
}

/* SEARCH BOX */

.search {
	float: left;
	display: inline-block;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search] {
	background: #ededed url(../img/search_icon.png) no-repeat 7px center;
	width: 35px;
	height: 45px;
	padding: 0 0 0 10px;
	color: transparent;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	margin: 10px 0;
	border: 1px solid #D0AA7E;
	box-shadow: 0 2px 1px #7C6851;
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

input[type=search]:hover {
	background-color: #fff;
}

input[type=search]:focus {
	width: 130px;
	padding-left: 45px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

input:-moz-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: transparent;
}

/* LIST OF COFFEE PLACES */

.coffee-places {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #b69978;
	overflow: scroll;
	z-index: 1000;
}

.name {
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

.address {
	font-size: 12px;
	color: #acacac;
}

.category {
	margin-bottom: 5px;
	color: #bbb;
	font-size: 10px;
}

.place-info {
	z-index: 1000;
	font-size: 12px;
	overflow: hidden;
	display: none;
	margin-top: 5px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0.25px rgba(0,0,0,0.30);
	-moz-box-shadow: 0 2px 5px 0.25px rgba(0,0,0,0.30);
	box-shadow: 0 2px 5px 0.25px rgba(0,0,0,0.30);
}

.cards-left {
	padding: 10px;
}

.cards-left {
	background-color: #eee;
	color: #a8a8a8;
	margin: 0;
	height: 100%;
}

/* ERROR CONTROL */

.error-popup {
	display: none;
	position: absolute;
	top: calc(40% - 75px);
	left: calc(50% - 250px);
	width: 500px;
	height: 130px;
	background-color: rgb(240,240,240);
	box-shadow: 1px 1px 3px rgba(41,27,7,0.7);
	box-sizing: border-box;
	color: #d52828;
	padding: 15px;
	text-align: center;
	line-height: 30px;
}

/* Landscape */
@media only screen and (min-width: 550px) {
	.three.columns {
		width: 28%!important;
	}
}

@media only screen and (max-width: 500px) {
	.coffee-places {
		height: auto;
	}
}

@media only screen and (max-height: 450px) and (max-width: 700px) {
	.three.columns {
	  width: 38%!important;
	}
}